#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.LoginForm {
  align-content: center;
  background-color: #242424;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  height: 80vh;
  width: 40vw;
  position: relative;
  left: 20vw;
  right: 20vw;

  border-radius: 3vh;
}

.InputBox {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  text-align: center;
  color: black;
  font-size: medium;
  border-radius: 6px;
  width: 50%;
  height: 5%;
  border-style: none;
}

.LoginFormPar {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: large;
}

.LoginAndRegisterButtons {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 6em;
  height: 2em;
  border-style: none;
}

.RegisterDiv {
  position: relative;
  min-height: 1px;
}
