.StockerApp {
  align-content: center;
  background-color: #242424;
  border-radius: 1em;
  color: white;
  font-family: Garamond, serif;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
  width: 80vw;
}

.ProductList {
  background-color: whitesmoke;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  border-radius: 0.5em;
}
ul {
  margin-left: 0;
  padding: 0;
}

.TitleContainer {
  display: grid;
  grid-template-columns: 75% 20%;
  color: black;
  font-family: inherit;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: black;
}
.LeftTitleSection {
  border-right-color: black;
  border-right-style: solid;
  border-width: 0.05em;
}
.ProductNameTitle {
  text-align: left;
  font-family: inherit;
  padding-left: 1em;
  font-weight: bold;
  font-size: 1em;
}

.ProductGrid {
  list-style: none;
  width: 100%;
  display: grid;
  font-weight: bold;
  grid-template-columns: 75% 15% 5% 5%;
}
.ProductNameBlock {
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 0.05em;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
}
.UnitCountBlock {
  align-content: center;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 0.05em;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
}
.EditButtonBlock {
  align-content: center;
  border-right-color: black;
  border-right-style: solid;
  border-right-width: 0.05em;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
}
.DeleteButtonBlock {
  align-content: center;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 0.05em;
}
.ProductName {
  list-style: none;
  width: inherit;
  height: 100%;
  text-align: left;
  font-size: 1em;
  padding-left: 0.2em;
  color: black;
}
.ProductUnitCount {
  text-align: left;
  font-size: 1em;
  padding-left: 1em;
  color: black;
}
.DeleteProductButton {
  text-align: right;
  height: 100%;
  margin-top: 0.2em;
  padding-right: 2em;
  background-color: inherit;
  color: black;
  border: none;
}
.EditItemButton {
  text-align: right;
  height: 100%;
  width: 100%;
  background-color: inherit;
  color: black;
  border: none;
}
.EditIcon {
  height: 100%;
  margin-right: 0.5em;
  width: 1em;
}
.ButtonAddItemContainer {
  margin-left: auto;
  margin-right: auto;
}

.ButtonAddItem {
  width: 5em;
  height: 5em;
  color: goldenrod;
  background-color: inherit;
  border-style: none;
}

.Footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.usernameLabel {
  color: cyan;
}
