.StockerApp {
  align-content: center;
  background-color: #242424;
  border-radius: 1em;
  color: white;
  font-family: Garamond, serif;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  position: relative;
  width: 80vw;
}

.ProductList {
  background-color: whitesmoke;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  border-radius: 0.5em;
}
ul {
  margin-left: 0;
  padding: 0;
}

.ProductGrid {
  list-style: none;
  width: 100%;
  display: grid;
  font-weight: bold;
  margin-bottom: 0.2em;
  grid-template-columns: 80% 10% 10%;
}
.ProductName {
  list-style: none;
  width: inherit;
  height: 100%;
  text-align: left;
  font-size: 1.2em;
  padding-left: 0.2em;
  color: black;
}
.ProductUnitCount {
  text-align: right;
  font-size: 1.1em;
  padding-left: 1em;
  color: black;
}
.DeleteProductButton {
  text-align: right;
  height: 100%;
  padding-right: 2em;
  background-color: inherit;
  color: red;
  border: none;
}
